<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        
        <h1>Logo will go here</h1>
        <h2>Recipe app tagline</h2>

        <form class="clearfix mb-4" action="POST">
          <div class="form-group">
            <label for="example-text">Insert Ingredients</label>
            <input type="text" id="example-text" class="form-control" aria-describedby="example-text" placeholder="Enter Example Text">
          </div>
          <button id="submit" class="btn btn-primary float-right">Get Recipe</button>
        </form>

      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>