<div class="section">
  <div id="search-box" class="container">

    <form action="POST">
      <div id="search-title" class="columns container is-centered">
        <label for="recipe-search" class="title is-2 is-full">Insert Ingredients. Get Recipes.</label>
      </div>


      <div class="columns">
        <input type="text" id="search-input" class="input is-large is-rounded is-three-quarters" aria-describedby="recipe-search"
          placeholder="Type Your Ingredients Here">
        <button id="search-button" class="button is-primary is-large">Get Recipes</button>
      </div>
    </form>

  </div>
</div>

{{!-- <div class="section">
  <div id="latest-box" class="container">
    <div class="columns container is-centered">
      <div>
        <h2 class="title is-2">Latest Results</h2>
      </div>
    </div>

    <div class="columns">
      {{!-- INSERT LATEST RESULTS HERE FROM DB --}}
    </div>
    </form>

  </div>
</div> --}}