<div class="section">
    <div id="latest-box" class="container columns">

        <aside class="column is-two-thirds">
            {{!-- INSERT SEARCH BOX AND FILTER CHECKBOXES HERE --}}
        </aside>

        <div class="column columns container is-centered is-one-third">
            <div>
                <h2 class="title is-2">Your Results</h2>
            </div>

            <div class="columns">
                {{!-- INSERT LATEST RESULTS FROM EDEMAM QUERY HERE --}}
            </div>
        </div>

    </div>
</div>